div.spacedContainer {
	margin-top: 2rem;
}

li.is-active {
	font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"] {
	min-height: 2rem;
	width: 100%;
}

.spaced-checkbox{
	margin-right: 0.5rem; /* Give some spacing between each checkbox on add week form
}