<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head lang="en">
    <meta charset="UTF-8" />
    <title>Fitness Tracker</title>
    <meta name="description"
        content="This is a RESTful web application using Spring Boot. It is used to track physical exercise by week.">
    <meta name="keywords" content="Fitness">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css" />
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./react-bulma-components.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
    <div id="react"></div>

    <script src="./dist.min.js"></script>
    <!--This is for the scripts for react vis-->

    <script src="./built/bundle.js"></script>
    <!--This is for the bundled scripts for react-->
</body>

</html>